html{
    margin:0;
    padding:0;
}

body{
    color: black;
    background: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ul1{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
}

.padd{
    width:30%;
}

.fo{
    margin: 10px;
    display:flex;
    justify-content: center;
    gap:10px;
}

#but{
    background:linear-gradient(to top right, rgb(239, 59, 188),rgb(231, 96, 231), rgb(184, 78, 254));
    border:none;
    color:white;
    font-weight:bold;
    border-radius:30px;
    box-shadow: 3px 4px 10px #888888;
    width:100px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inp{
    width:50%;
    height:40px;
    padding-left:15px;
    border:none;
    border-radius: 30px;
    box-shadow: 3px 4px 10px #888888;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container{
    margin-top: 50px;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.card{
    width:80%;
    border:solid 1px #cecece;
    background-color: white;
    padding:20px;
    border-radius:10px;
    box-shadow: 3px 4px 10px #c0c0c0;
}

#mealName{
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#strInstructions{   
    background-color: rgb(218, 255, 251);
    padding:10px;
    padding-top:30px;
    padding-bottom:30px;
    border-radius:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logoname{
    font-size:3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#image{
    width:400px;
    height:400px;
    border-radius:20px;
}

.img-container{
    display:flex;
    align-items: center;
    gap:10px;
    display:none;
}

.img-car{
    display:flex;
    width:100%;
    overflow:hidden;
    justify-content: center;
    gap:20px;
}

.img{
    border-radius:10px;
}

.searchbar{
    margin-top:50px;
}

.foot-cont{
    width:100%;
    margin-top:50px;
    text-align: center;
}

.foot-head{
    font-size:3rem;
}

#strArea{
    font-size:30px;
    font-weight: bold;
}

@media only screen and (max-width:1100px){
    .img-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-container{
        width:100vw;
    }
    .card{
        width:90%;
        margin:10px;
    }
}

@media only screen and (max-width:500px){
    #image{
        width:300px;
        height:300px;
    }
}